.ipynb_checkpoints
.Rhistory
.DS_Store
.movrs/Ralf/My_Cloud/RalfsFunctions/GITHUB/nomcomm/communication_neuroscience/scripts/
do_not_sync/*
nilearn_cache/*
.ipynb_checkpoints/*
.mp4
.jpg
.png
.json
.pkl
