.ipynb_checkpoints
.Rhistory
.DS_Store
.mov
/Users/Ralf/My_Cloud/RalfsFunctions/GITHUB/nomcomm/inspiration_project/data/*
/Users/Ralf/My_Cloud/RalfsFunctions/GITHUB/nomcomm/inspiration_project/data/
/Users/Ralf/My_Cloud/RalfsFunctions/GITHUB/nomcomm/communication_neuroscience/scripts/nilearn_cache/*
.ipynb_checkpoints/*
.mp4
.jpg
.png
.json
.pkl
